


.outside{
display: flex;
justify-content: center;

}

.read{

  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 40%;
  align-self: auto;
  margin-top: 3rem;
  font-family: 'Secular One', sans-serif;
  color: #E56EFE;
}

.top{
  margin-top: 3rem;
  display:inline-flex;
}