
*{
  box-sizing: border-box;;
}

body {
 background-image: url("page1img.jpg");
 background-size: cover;
font-family: 'Allerta Stencil', sans-serif;
font-size: 1.2em
}



.container{
  display:flex;
  justify-content: center;
  font-size: 3em
}

input{
  width: 450px;
  height: 45px;
  border-radius: 10px;
}
button{
  width: 70px;
  height:50px;
  background-color: black;
  color: white;
  border-radius: 10px;


}
label{
padding-top: 5px;
}
