<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('./partial/head.ejs')%>
  <body>
    <%- include('./partial/header.ejs')%>
    <%- include('./partial/posts.ejs')%>

    <form class="" action="index.html" method="get">
      Select post by title:
      <input type="text" name="" value="">
      Select post by category:
      <input type="text" name="" value="">
      <button type="button" name="button">Search!</button>
    </form>


    <%- include('./partial/footer.ejs')%>

  </body>
</html>
