.big{

	border: 2px solid black;
	height: 400px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 2px;
	
}


.small1{

	width: 100%;
	height: 60px;
	background-color: lightgrey;
	border: 2px solid black;
}

.small{
	width:60%;
	height: 90px;
	background-color: lightgrey;
	border: 2px solid black;
}

div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}